<h1><%= @category.name %></h1>
<h3><%= link_to 'add new recipe', new_category_bookmark_path(@category) %></h3>
<p><%= link_to 'Back to categories', categories_path %></p>

<% @category.bookmarks.each do |bookmark| %>
  <p><%= bookmark.recipe.name %></p>
  <hr>
<% end %>
